[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-dotenv = "*"
pylint = "*"
yapf = "*"

[packages]
flask = "*"
marshmallow = "*"
flask-pymongo = "*"

[requires]
python_version = "3"

[scripts]
lint = "pylint laguinho/"
start = "flask run"
format = "yapf -i -r ./laguinho"
