[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-dotenv = "*"
pylint = "*"

[packages]
flask = "*"

[requires]
python_version = "3"

[scripts]
lint = "pylint laguinho/"
start = "flask run"
